<div class="mapControl">
	<div style="height:100%"></div>
	<div class="mapControl__btnContainer mapControl__btnContainer_right btnContainer">
		<div style="background: transparent;z-index: 5; position:absolute;width: 50px;height: 50px;">
			<button class="btnContainer__zoom_plus" ng-class="{'btnContainer__zoom_disabled':plusDisable}" ng-disabled="plusDisable"
				ng-click="zoomIn()">
            </button>
		</div>
		<div style="background: transparent;z-index: 5; position:absolute;width: 50px;height: 50px;top:50px">
			<button class="btnContainer__zoom_minus" ng-class="{'btnContainer__zoom_disabled':minusDisable}" ng-disabled="minusDisable"
				ng-click="zoomOut()">
            </button>
		</div>
	</div>
	<div class="mapControl__btnContainer mapControl__btnContainer_right mapControl__btnContainer_bottom btnContainer">
		<div ng-repeat="fl in mapFloors" class="floor">
			<div class="floor__label floor__label_left" ng-show="$parent.$parent.currentTerminal.TerminalMapObject[0].MapObject.FloorID===fl.FloorID">
				<div style="width: 16px;height: 16px;text-align: center;font-size: 9px;padding-top: 2px;font-weight: bold;">
					Вы
				</div>
			</div>
			<div class="floor__label floor__label_right" ng-if="getCount(fl.FloorID)>0" ng-bind="getCount(fl.FloorID)">>
				<!--<div style="width: 20px;height: 20px;text-align: center;font-size: 10px;padding-top: 4px;font-weight: bold;" ng-bind="getCount(fl.FloorID)"></div>-->
			</div>
			<button class="btn floor__floor" ng-click="setFloor(fl.FloorID)"
					ng-class="{'selected':currentMapFloor.Number == fl.Number}"
					style="background-image: url('Content/images/icn_map_{{fl.Number}}_floor{{currentMapFloor.Number == fl.Number?'_selected':''}}.png')">
				<!--<img ng-src="/Content/images/icn_map_{{fl.Number}}_floor.png">-->
                <!--<span class="floor__number">{{fl.Number}}</span>-->
            </button>
		</div>
	</div>
</div>