<div class="sheduleControl" style="">
    <div style="background: transparent;
                z-index: 5;
                width: 100%;
                height: 60px;">
        <div style="background: transparent;
                    z-index: 5; position:absolute;
                    width: 60px;
                    height: 60px;">
            <!--<button style="width: 60px;height: 60px; background:transparent;border-radius:4px;border-width:0px;padding: 0px;">
                <i class="iconMall-iconHome" style="font-size: 2em;color:black"></i>
            </button>-->
        </div>
        <div class="horizontal" style="background: transparent;
                    z-index: 5; position:absolute;
                    width: 500px;
                    height: 60px;
                    left:60px;
                    /*padding:0px 10px 0px 10px;*/
                    font-size: 40px;
                    text-transform:uppercase;">
            <div style="height: 60px;
                                top: 50%;position:absolute;
                            margin-top: -25px;">
                {{::customer.Name}}
            </div>
        </div>
        <div style="background: transparent;
                    z-index: 5; position:absolute;
                    width: 60px;
                    height: 60px;
                    right:0px">
            <button style="width: 60px;height: 60px; background:transparent;border-radius:4px;border-width:0px;padding: 0px;" ui-sref="navigation.mainMenu">
                <i class="iconMall-iconClose" style="font-size: 3em;color:#28303b"></i>
            </button>
        </div>
        <div class="sideMenu__sheduleButton vertical" ui-sref="navigation.mainMenu">
            <div class="sideMenu__sheduleButtonText">
                <span ng-class="listAnchorLength" style="text-decoration: none;
                    display: inline-block;
                    border-bottom-style: dashed;
                    border-bottom-width:1px; ">Сегодня с {{::customer.ScheduleFrom}} до {{::customer.ScheduleTo}}</span>
            </div>
        </div>
    </div>   
    <div class="horizontal" style="background: transparent;
                z-index: 5;
                width: 100%;
                height: 60px;">
        <div style="background: transparent;
                    z-index: 5; position:absolute;
                    width: 60px;
                    height: 60px;">

        </div>
        <div class="sideMenu__sheduleButton" ui-sref="navigation.mainMenu" style="">
            <div class="sideMenu__sheduleButtonText" style="">
                <span style="text-decoration: none;
    display: inline-block;
    border-bottom-style:dashed;
    border-bottom-width:1px; ">Сегодня с {{::customer.ScheduleFrom}} до {{::customer.ScheduleTo}}</span>
            </div>
        </div>
    </div>

    <div class="sheduleControl__sheduleList">
        <div style="width: 60px;
                 height: 100%;
                 background: transparent;
                 position: absolute;">
        </div>
        <div style="overflow:hidden;left: 60px;position: absolute;right: 10px;">
            <div style="display:flex;flex-direction:row;margin-top:20px;" ng-repeat="org in anchorOrganizations">
                <div style="flex-basis:50%">                   
                    <div class="parent textAncorOrganization" ng-click="showAnchorOrganization(org)" style="width: 100%;height: 100%;">
                        <div class="child" style="display: -moz-inline-box;display: inline-block;vertical-align: middle;">
                            {{org.Name}}
                        </div>
                        <div class="helper" style="display: inline-block;height: 100%;width: 0px;vertical-align: middle;"></div>
                    </div>
                </div>
                <div style="flex-basis:50%">
                    <div class="parent workTimeAncorOrganization" style="width: 100%;height: 100%;">
                        <div class="child" style="display: -moz-inline-box;display: inline-block;vertical-align: middle;">
                            <span ng-repeat="schedule in org.displaySchedule">{{schedule}} <br /></span>
                        </div>
                        <div class="helper" style="display: inline-block;height: 100%;width: 0px;vertical-align: middle;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>