//.headBlock__searchControl {
//  background: @color-white;
//  border: 1px solid transparent;
//  //box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//}

//.colorTheme_color .appContainer__secondArea,
//.colorTheme_blackLite .appContainer__secondArea {
//  background: @color-base;
//}

//.formatTheme_vertical .appContainer__secondArea {
//  background: @color-map-back;
//  display: none;
//}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-width: 1px 1px 1px 2px;
  border-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: @color-work;
  border-width: 1px 1px 1px 2px;
  border-color: transparent;
}

div.mCSB_dragger_bar {
  background-color: @color-work !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
}

//.colorTheme_black ::-webkit-scrollbar-thumb {
//  background: @color-white;
//}
//
//.colorTheme_black div.mCSB_dragger_bar { /* the dragger element */
//  background-color: @color-white !important;
//  border: 1px solid black;
//  min-width: 8px;
//}
//
//.colorTheme_black .appContainer__basicArea {
//  background: @color-white;
//}
//
//.colorTheme_black .headBlock__searchControl {
//  background: @color-white;
//  border: 1px solid black;
//}
//
//.colorTheme_black .appContainer__infoBlock {
//  background: @color-white;
//}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-width: 0;
  background-color: transparent;
  border-radius: 0px;
}

::-webkit-scrollbar-track:hover {
  border-left: solid 0px transparent;
}

.appContainer {
  font-family: @font-base;
  background: #f4f7f1;
  width: 100%;
  padding: 0px;
  height: 100%;
  min-height: 768px;
  position: absolute;
  line-height: 1.25;
  &__mapBlock {
    //width: calc(~"100%" - ~"630px");
    margin-left: 630px;
    height: 100%;
    background: transparent;
  }
  &__basicArea {
    height: 100%;
    width: 630px;
    position: absolute;
    box-shadow: 0 0px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
  }
  &__footerBlock {
    background: transparent;
    width: 630px;
    height: 60px;
    bottom: 0;
    position: absolute;
  }
}


.colorTheme_black ::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

.mCSB_dragger {
  height: 96px !important;
}

div.mCSB_scrollTools {
  opacity: 1 !important;
}

.list-group-item:first-child {
  border-radius: 0px;
}

.list-group-item:last-child {
  border-radius: 0px;
}

//.formatTheme_horizontalSmall .appContainer {
//  min-width: 1280px;
//}

//.formatTheme_vertical .appContainer {
//  min-width: 1280px;
//}
//
//.formatTheme_vertical .appContainer {
//  min-width: 0;
//}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

//.appContainer__secondArea,
//.appContainer__bannerArea {
//  width: 100%;
//  position: absolute;
//}

//.colorTheme_black .appContainer__secondArea,
//.colorTheme_black .appContainer__bannerArea {
//  background: black;
//}

//.formatTheme_horizontal .appContainer__secondArea {
//  height: 0;
//  visibility: collapse;
//
//}
//
//.formatTheme_horizontalSmall .appContainer__secondArea {
//  height: 35.1851%;
//}

//.appContainer__bannerArea {
//  display: none;
//}

//.formatTheme_vertical .appContainer__bannerArea {
//  display: initial;
//  height: 31.6%;
//}



//.colorTheme_color .appContainer__basicArea {
//  background: #f4f7f1;
//}
//
//.colorTheme_blackLite .appContainer__basicArea {
//  background: #f4f7f1;
//}
//
//.formatTheme_horizontal .appContainer__basicArea {
//  height: 100%;
//}

//.formatTheme_horizontalSmall .appContainer__basicArea {
//  height: 64.8149%;
//  top: 35.1851%;
//}
//
//.formatTheme_vertical .appContainer__basicArea {
//  height: 68.4%;
//  bottom: 0;
//}

.appContainer__headBlock {
  width: 630px;
  height: 100px;
  position: absolute;
  background: transparent;
  //box-shadow: 5px 0 5px -5px #333;
}

//.formatTheme_horizontal .appContainer__headBlock {
//  top: 0;
//}
//
//.formatTheme_horizontalSmall .appContainer__headBlock {
//  bottom: 10px;
//}
//
//.formatTheme_vertical .appContainer__headBlock {
//  height: 165px;
//  top: 45px;
//}

.headBlock__searchControl {
  background: @color-white;
  position: absolute;
  left: 0;
  right: 0px;
  height: 100%;
  width: 630px;
  padding-top: 0px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

//.formatTheme_vertical .headBlock__searchControl {
//  padding-top: 10px;
//}
//
//.formatTheme_vertical .headBlock__searchControl {
//  width: 540px;
//}

//.headBlock__changeViewTypeControl {
//  position: absolute;
//  height: 60px;
//  padding-top: 20px;
//}
//
//.formatTheme_horizontal .headBlock__changeViewTypeControl,
//.formatTheme_horizontalSmall .headBlock__changeViewTypeControl {
//  left: 630px;
//}
//
//.formatTheme_vertical .headBlock__changeViewTypeControl {
//  left: 590px;
//  top: 60px;
//}



//.footerBlock__toolBar {
//  position: absolute;
//  height: 100%;
//}

//.formatTheme_horizontal .footerBlock__toolBar {
//  width: 60px;
//  bottom: 65px;
//  right: 50px;
//}
//
//.formatTheme_horizontalSmall .footerBlock__toolBar {
//  width: 60px;
//  bottom: 65px;
//  right: 50px;
//}
//
//.formatTheme_vertical .footerBlock__toolBar {
//  left: 30px;
//  width: 130px;
//}

.appContainer__workspaceBlock {
  background: transparent;
  position: absolute;
  width: 630px;
  left: 0px;
  bottom: 60px;
  top: 100px;
}

//.formatTheme_horizontal .appContainer__workspaceBlock {
//    bottom:0;
//    top: 100px;
//}
//.formatTheme_horizontalSmall .appContainer__workspaceBlock {
//  bottom: 130px;
//  top: 20px;
//}
//
//.formatTheme_vertical .appContainer__workspaceBlock {
//  bottom: 130px;
//  top: 245px;
//  right: 60px;
//}

.workspaceBlock__sideBlock {
  width: 630px;
  height: 100%;
  top: 0px;
  position: absolute;
}

//.searchResultFull.workspaceBlock__sideBlock {
//  width: auto;
//  left: 0px;
//  right: 0;
//}

//.colorTheme_color .workspaceBlock__sideBlock,
//.colorTheme_blackLite .workspaceBlock__sideBlock {
//  background: transparent;
//  border: 1px solid transparent;
//  border-left: 0px;
//}

//.formatTheme_vertical .workspaceBlock__sideBlock {
//  width: 600px;
//}
//
//.formatTheme_vertical .searchResultFull.workspaceBlock__sideBlock {
//  width: 100%;
//}

.appContainer__infoBlock {
  height: 100%;
  top: 0px;
  left: 635px;
  right: 0px;
  position: absolute;
}

//.formatTheme_vertical .appContainer__infoBlock {
//  right: 100px;
//  left: 70px;
//}

//.colorTheme_color .appContainer__infoBlock,
//.colorTheme_blackLite .appContainer__infoBlock {
//  background: transparent;
//}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
//
//.formatTheme_vertical .workspaceBlock__eventSideBlock {
//  width: 100%;
//}
//
//.formatTheme_vertical .proposals__infoBlock {
//  left: 30px;
//  right: 0px;
//}

.bannerSlides {
  object-fit: cover;
  display: block;
  max-width: 100%;
  height: auto;
}