<div class="organization">
    <div class="organization__logo-container">
        <img src="" alt="" class="organization__logo-container__img"
             moloko-image-api="controller.item.OrganizationID"
             url="/Organization/:id/WideLogo" default="/Content/images/list_enterteinment_cover_holder.png" height="350">
        <img alt="" class="organization__logo-container__organization-image"
             moloko-image-api="controller.item.OrganizationID" url="/Organization/:id/Logo" default="/Content/images/card_enterteinment_logo_holder.png">
    </div>
    <div class="organization__container">
        <div class="organization__container__categories">
            <div ng-repeat="cat in controller.item.Categories" ng-bind="cat.Name"></div>
            <img src="/Content/images/icn_sales_shop_list.png" ng-if="controller.item.HasProposal"  ui-sref=".proposals({OrganizationID:controller.item.OrganizationID})">
            <img src="/Content/images/icn_sales_shop_card_disabled.png" ng-if="!controller.item.HasProposal">
        </div>

        <h2>{{controller.item.Name}}</h2>
        <div class="organization__container__description" ng-bind="controller.item.Description">

        </div>
        <br/>
    </div>
</div>
