@import "../../Styles/style.less";

.searchControlMainPage {
  background: transparent;
  z-index: 5;
  width: 100%;
  height: 100px;
  left: 0;
  display: flex;
  &__searchButton {
    .base-icon-btn;
    margin-right: 10px;
    img {
      height: 40px;
    }
  }
  &__title {
    .heading__title;
    margin: auto auto auto 140px;

  }
  &__img {
    height: 100%;
  }
}