<div class="organizationProposalsList" style="">
    <div class="organizationProposalsList__headBlock" style="">
        <div class="organizationProposalsListHeadBlock__titleBlock" style="">
            <div class="parent organizationProposalsListTitleBlock__title" style="">
                <div class="child" style="display: -moz-inline-box;display: inline-block;vertical-align: middle;">
                    АКЦИИ и НОВОСТИ в {{currentOrganization.Name}}
                </div>
                <div class="helper" style="display: inline-block;height: 100%;width: 0px;vertical-align: middle;"></div>
            </div>
        </div>
        <div class="organizationProposalsListHeadBlock__closeBlock" ui-sref="navigation.searchResult.organization" style="">
            <button class="organizationProposalsListCloseBlock__button" style="">
                <i class="iconMall-iconClose organizationProposalsListCloseButton__icon" style=""></i>
            </button>
        </div>
    </div>
    <div class="organizationProposalsList__listBlock">
        <ul class="list-group organizationProposalsListBlock__list" style="" >
            <li class="list-group-item organizationProposalsListBlock__listElement" style="min-height:165px;" ng-repeat="item in items"
                ui-sref=".proposal({ProposalID:item.ProposalID})">

                <div class="organizationProposalsListElement_logoBlock" style="">
                    <div class="text-center organizationProposalsListElement_logo" style="">
                        <img class="img-responsive organizationProposalsListElement_image" moloko-image-api="item.ProposalID" url="/Proposal/:id/LogoPreview"
                            alt="{{item.Name}}" style=''>
                    </div>
                </div>
                <div class="organizationProposalsListElement_infoBlock" style="">
                    <div class="organizationProposalsListElement_info" style="">
                        <!--<div class="" style="background:transparent;position: relative;width:100%;height: 15%;font-family: Open Sans;font-size: 20px;">
                            АКЦИЯ
                        </div>-->
                        <div class="organizationProposalsListElement_name" style="">
                            {{item.Name}}
                        </div>
                        <div class="organizationProposalsListElement_summary" style="">
                            {{item.Summary}}
                        </div>
                        <div ng-if="item.DateEnd" class="organizationProposalsListElement_remainder">
                            Осталось {{item.DateEnd|remainDays}}
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="organizationProposalsList vertical" style="">
    <div class="organizationProposalsList__headBlock" style="">
        <div class="organizationProposalsListHeadBlock__titleBlock" style="">
            <div class="parent organizationProposalsListTitleBlock__title" style="">
                <div class="child" style="display: -moz-inline-box;display: inline-block;vertical-align: middle;">
                    АКЦИИ и НОВОСТИ в {{currentOrganization.Name}}
                </div>
                <div class="helper" style="display: inline-block;height: 100%;width: 0px;vertical-align: middle;"></div>
            </div>
        </div>
        <div class="organizationProposalsListHeadBlock__closeBlock" ng-click="back()" style="">
            <button class="organizationProposalsListCloseBlock__button" style="">
                <i class="iconMall-iconClose organizationProposalsListCloseButton__icon" style=""></i>
            </button>
        </div>
        <div class="organizationsHeadBlock__closeButtonBlock" ng-click="hide()" style="right:60px;">
            <button class="closeButtonBlock_closeButton" style="">
                <i class="iconMall-iconArrowUp closeButton_icon" style=""></i>
            </button>
        </div>
    </div>
    <div style="position: absolute;
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    z-index:5;
    overflow-x: hidden;
    background: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);">
        <ul class="wrapper" style="padding:0;">
            <li  ui-sref=".proposal({ProposalID:item.ProposalID})" class="item"
                style="border:lightgray solid 1px;margin:0.5%;padding:1%;width: 32%;" ng-repeat="item in items">
                <img moloko-image-api="item.ProposalID" url="/Proposal/:id/Logo" class="img-responsive" alt="{{item.Organization.Name}}" style='/*height: 100%; width: 100%;*/ object-fit: cover'>
                <div class="proposalsListControlListElement__name" style="white-space: normal;">
                    {{item.Name}}
                </div>
                {{item.Summary}}
                <div class="proposalsListControlListElement__remainder" ng-if="item.DateEnd">
                    Осталось {{item.DateEnd|remainDays}}
                </div>
            </li>
        </ul>
    </div>
</div>

