@import '../blocks/appContainer/appContainer.less';
@import '../blocks/mapControl/mapControl.less';
@import '../blocks/organization/organization.less';
@import '../blocks/organizationsList/organizationsList.less';
@import '../blocks/proposalListControl/proposalListControl.less';
@import '../blocks/transport/transport.less';
@import '../blocks/changeTypeViewControl/changeTypeViewControl.less';
@import '../blocks/headControl/headControl.less';
@import '../blocks/searchControl/searchControl.less';
@import '../blocks/searchControlMainPage/searchControlMainPage.less';
@import '../blocks/searchControlFilter/searchControlFilter.less';
@import '../blocks/shopHeading/shopHeading.less';
@import '../blocks/favoriteSearch/favoriteSearch.less';
@import '../blocks/toolBar/toolBar.less';
@import '../blocks/screensaver/screensaver.less';
@import '../blocks/closedResult/closeResult.less';
@import '../blocks/sideMenu/sideMenu.less';
@import '../blocks/navigation/navigation.less';
@import '../Scripts/Custom-leaflet/leaflet.less';
@import '../blocks/proposalsHeading/proposalsHeading.less';
@import '../blocks/restaurantHeading/restaurantHeading.less';
@import '../blocks/entertainmentsHeading/entertainments.less';
@import '../blocks/proposal/proposal.less';
@import '../blocks/moreHeading/moreHeading.less';
@import '../blocks/more/more.less';
@import '../blocks/eventsList/eventsList.less';
@import '../blocks/eventsHeading/eventsHeading.less';
@import '../blocks/event/event.less';
@import '../blocks/feedbackHeading/feedbackHeading.less';
@import '../blocks/feedback/feedback.less';
@import '../blocks/scheduleHeading/scheduleHeading.less';
@import '../blocks/servicesHeading/servicesHeading.less';
@import '../blocks/servicesList/servicesList.less';
@import '../blocks/schedule/schedule.less';
@import '../blocks/feedbackFinal/feedbackFinal.less';

@color-base: #006bc2; /*006bc2*/
@color-work: #28303b; /*28303b*/

@color-black: black; /*black*/
@color-white: white; /*white*/
@color-map-back: #f4f7f1;
@color-map-sign: #f4f7f1; /*white*/

/*@color-map-sign: #f1b904; ������*/
@font-face {
  font-family: Din; /* Имя шрифта */
  src: url('/Content/fonts/DINPro-Regular.ttf'); /* Путь к файлу со шрифтом */
}

@font-base: Din; /*Open Sans*/

@maroon: #EF9A85;
@maroon-light: #F19981;
@green: #61b794;
@bronze: #d5a63a;
@yellow: #B28B24;
@blue: #93b9cc;
@light-blue: #E9F1F4;
@dark-blue: #4D8AC9;

.base-icon-btn {
  font-size: 3em;
  border: none;
  background: transparent;
}

.heading__title {
  text-transform: uppercase;
  font-size: 26px;
  text-align: left;
  margin-left: 40px;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-item-center {
  align-items: center;
}

* {
  box-sizing: border-box;
}