@import "../../style.less";

.organization {
  background: white;
  height: 100%; //calc(~"100%" - ~"20px");
  width: 100%;
  position: absolute;
  //overflow-y: scroll;
  overflow-y: hidden;
  &:after {
    .base-blur;
  }

  &__logo-container {
    position: relative;
    &__img {
      width: 100%;
    }
    &__organization-image {
      border: solid 1px gray;
      position: absolute;
      bottom: -30px;
      left: 20px;
      width: 150px;
      background-size: contain;
      background: no-repeat center;
    }
  }

  &__container {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 65px;

    &__categories {
      display: flex;
      flex-wrap: wrap;
      > div {
        padding: 10px;
        height: 40px;
        border-radius: 20px;
        font-size: 1.1em;
        color: @dark-blue;
        background-color: @light-blue;
        margin-right: 5px;
        margin-bottom: 5px;
      }
      > img {
        margin-left: auto;
        height: 40px;
      }
    }
    &__organization {
      margin-top: 10px;
      font-size: 2em;
    }
    &__summary {
      margin-top: 10px;
      font-size: 2em;
    }
    &__description {
      margin-top: 10px;
      font-size: 1.3em;
      position: relative;
      white-space: pre-line;
    }

  }
}